*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body{
    font-family: 'Ropa Sans', sans-serif;
}

a{
    text-decoration: none;
}

main{
    margin-top: 80px;
}

/*-----Header-----*/

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    z-index: 2;
}

header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}


header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(119, 119, 119, 1)
}


header .logo-main{
    font-size: 2.7rem;
    margin-right: 5px;text-transform: uppercase;
}

header button{
    cursor: pointer;
    color: #AAAAAA;
    border: 0;
    padding: 5px;
    font-size: 2rem;
    background-color: transparent;
}

header button:hover{
    color: rgb(34, 34, 34);
    transition: 1s;
}

/*-----Nav-----*/



/*-----slider-----*/

#slider{
    height: 400px;
    width: 80%;
    margin: 120px auto 30px;
    background: url(/img/Rectangle3.png) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#slider button{
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
}

#slider button:hover{
    background: rgba(0, 0, 0, .7);
    transition: 1s;
}


/*-----homes-----*/

#homes .section-container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#homes .card-item{
    width: 325px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#homes .card-item img{
    width: 325px;
    height: 200px;
    object-fit: cover;
}

#homes .card-content{
    padding: 15px;
    margin: 0;
    background: rgb(228, 228, 228);
    border: 0
}

#homes .amount{
    color: #888888;
    font-size: 2rem;
}

#homes .card-highlight{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#homes .label{
    color: #fff;
    background: rgb(63, 62, 62);
    padding: 4px 15px 0px; 
    border-radius: 25px;
    font-size: 1.4rem;
}

#homes .label.new-label{
    background: rgba(81, 210, 117, 1);
}

#homes .label.sale-label{
    background: rgba(220, 151, 48, 1);
}

#homes .card-text{
    color: rgba(85, 85, 85, 1);
}

/*----- style homes------*/
#style{
    padding: 30px 0;
}

#style h2{
    color: rgba(85, 85, 85, 1);
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 20px;
    text-align: center;
}

#style .section-container{
    width: 80%;
    margin: 0 auto;
}

#style .pick-style--itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#style .pick-style-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; 
    width: 900px;   
}

.pick-style-item.style1{
    background: url(../img/Rectangle11.png) center center no-repeat;
    background-color: #969696;
    background-blend-mode: multiply;
    background-size: cover;
    height: 150px;
    width: 80%;
}


.pick-style-item.style2{
    background: url(../img/Rectangle12.png) center center no-repeat;
    background-color: #969696;
    background-blend-mode: multiply;
    background-size: cover;
    height: 150px;
    width: 80%;
}

.pick-style-item.style3{
    background: url(../img/Rectangle13.png) center center no-repeat;
    background-color: #969696;
    background-blend-mode: multiply;
    background-size: cover;
    height: 150px;
    width: 80%;
}

#style .pick-style--title{
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 0 3px rgb(0, 0, 0);
}



/*-----footer-----*/



footer{
    background: rgba(51, 51, 51, 1);
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
}

.map iframe {
    border-radius: 25px;
}

footer .contact{
    color: #fff;
}

footer a{
    color: #fff;
    font-size: 1.5rem;
    line-height: 3rem;
}

footer p {
    font-size: 1.5rem;
    line-height: 3rem;
}

.social-media--icons a img{
    width: 30px;
    width: 30px;
    margin-right: 10px;
    opacity: 0.8;
}

.social-media--icons a img:hover{
    opacity: 1;
}